<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modelboard.mapper.BoardMapper">
    <insert id="write">
        insert into board (title, content, writer, regdate) values (#{title},#{content},#{writer},#{regdate})
    </insert>

    <select id="boardList" resultType="com.example.modelboard.dto.BoardDTO">
    select * from board
    </select>

</mapper>